@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

th, td {
    padding-right: 20px !important;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
